---
import { GameList } from '@/partials/GameList';
import { Hero } from '@/partials/Hero';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title, description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <GameList />
  <div class="flex items-center justify-center">
    <iframe class="flex" src="/games/circle/Circle Tower.html" height="600" width="300"></iframe>
  </div>
</Base>
